
* {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}



.Winner-Circle-Container{
  position: absolute;
  border: 0;
  padding: 0;
  margin: 0;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 50%);
}

.App-Center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 15%); 
}

.Game-Board {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.Rules-Button {
  position: absolute;
  left: 90%;
  top: 90%;
  transform: translate(-50%, -50%);
  color: white;
  width: 150px;
  height: 45px;
  background: none;
  border-color: white;
  border-radius: 10px;
}


