
.Header {
    border-style: solid;
    border-color: hsl(217, 16%, 45%);
    border-width: medium;
    border-radius: 15px;
    width: 700px;
    height: 95px;
    padding: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15%); 
}

.App-logo {
    float: left;
}