
.Results {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.User-Pick {
    width: 170px;
    height: 250px;
    float:left;
    position: relative;
    margin-right: 50px;
}

.House-Pick {
    width: 170px;
    height: 250px;
    float:right;
    position: relative;
    margin-left: 50px;
}

.Play-Again {
    position: relative;
    width: 220px;
    height: 200px;
}

.Pick-Header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 50%);
    color: white;
}

.Pick-Display {
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 50%);
}

.Winner-Header {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 220px;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Play-Again-Button {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.Win-Tie-Text {
    color: hsl(214, 47%, 23%)
}

.Lose-Text {
    color: rgb(180, 47, 47)
}